<%= render 'header' %>
<div class="container is-fullhd">
  <%= search_form_for(@q, url: book_path(datefrom:params[@from],dateto:params[@to])) do |f| %>
  <div class="columns" style="width:95%">
    <div class="column "><%= f.collection_select :country_cont, Apprtment.all, :country, :country, {:include_blank => "Country"}, class:"select"%></div>
    <div class="column"><%= f.collection_select :city_cont, Apprtment.all, :city, :city, {:include_blank => "City"}, class:"select"%></div>
    <div class="column"><%= f.collection_select :place_cont,Apprtment.all,:place ,:place, {:include_blank => "Place"}, class:"select"%></div>
    <div class="column"><%= f.collection_select :amenities_cont,Apprtment.all,:amenities ,:amenities, {:include_blank => "Amenities"}, class:"select"%></div>
    <div class="column "><%= f.collection_select :highlights_cont, Apprtment.all, :highlights, :highlights, {:include_blank => "Highlights"}, class:"select"%></div>
    <div class="column"><%= f.collection_select :rentingType_cont, Apprtment.all, :rentingType, :rentingType, {:include_blank => "Renting Type"}, class:"select"%></div>
    <%= f.submit id:"click",style:"display:none"%>
  </div>
<% end %>
<div class="columns is-desktop is-multiline">
  <%= render "search_list" %>
</div>
</div>
<%= render 'footer' %>
<script type="text/javascript">
const slider = document.getElementById('slider');
const prevSlider = document.getElementById('prev');
const nextSlider = document.getElementById('next');

nextSlider.addEventListener('click', (e) => {
  slider.scrollBy(300, 0);
});

prevSlider.addEventListener('click', (e) => {
  slider.scrollBy(-300, 0);
});
$(".select").change(function () {
  $("#click").click();

});
</script>
