<p id="notice"><%= notice %></p>

<p>
  <strong>Hostingas:</strong>
  <%= @apprtment.hostingAs %>
</p>

<p>
  <strong>Dangerousthings:</strong>
  <%= @apprtment.dangerousThings %>
</p>

<p>
  <strong>Price:</strong>
  <%= @apprtment.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @apprtment.description %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @apprtment.amenities %>
</p>

<p>
  <strong>Guestfavorites:</strong>
  <%= @apprtment.guestFavorites %>
</p>

<p>
  <strong>Images:</strong>
  <%= @apprtment.images %>
</p>

<p>
  <strong>Title:</strong>
  <%= @apprtment.title %>
</p>

<p>
  <strong>Highlights:</strong>
  <%= @apprtment.highlights %>
</p>

<p>
  <strong>Street:</strong>
  <%= @apprtment.street %>
</p>

<p>
  <strong>Suit:</strong>
  <%= @apprtment.suit %>
</p>

<p>
  <strong>City:</strong>
  <%= @apprtment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @apprtment.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @apprtment.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @apprtment.zipCode %>
</p>

<p>
  <strong>Rentingtype:</strong>
  <%= @apprtment.rentingType %>
</p>

<p>
  <strong>Place:</strong>
  <%= @apprtment.place %>
</p>

<%= link_to 'Edit', edit_apprtment_path(@apprtment) %> |
<%= link_to 'Back', apprtments_path %>
